.title-login {
}
.login-form {
  max-width: 400px;
  background: white;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 1px 6px rgba(57, 73, 76, 0.35);
  border-radius: 2px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

.ant-form-item {
  margin-bottom: 25px;
}

.btn-social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.google-btn {
  margin: 5px;
  height: 40px !important;
  border-radius: 2px;
  background: white !important;
  color: rgb(41, 37, 37) !important;
  border: 0px transparent !important;
  text-align: center !important;
}
.google-btn div {
  padding: 0;
  width: 35px;
  height: 35px;
}

.facebook-btn {
  box-shadow: hsla(0, 0%, 0%, 0.3) 0px 2px 2px 0px;
  width: 210px;
  height: 40px;
  border-radius: 4px;
  background: #3b5998;
  color: white;
  border: 0px transparent;
  text-align: center;
  margin: 0px;
  display: inline-block;
  font-weight: 500px;
}

.facebook-btn:hover {
  background: #3b5998;
  opacity: 0.8;
  cursor: pointer;
}
.google-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

.fa {
  margin-right: 10px;
}
