.banner-bg {
  background: url('../../../bg-bmentor.jpg');
  height: 100vh;
  width: auto;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  padding: 0px 200px;
  max-height: 500px;
  margin-top: -10px;
}
.title-bg {
  line-height: 50px;
  width: 500px;
  text-align: left;
}

.btn-action-bg {
  display: flex;
  flex-direction: row;
}
.btn-action-bg > button {
  background-color: orange;
  border: 0;
  margin-right: 20px;
  color: aliceblue;
  box-shadow: 0 1px 8px 0 hsla(189, 14%, 26%, 0.35);
}
