.typo-data {
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

.avatar-user {
  height: 252px;
  display: flex;
  flex-direction: column;

  align-items: center;
}
.avatar-uploader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.avatar-uploader > .ant-upload {
  width: 150px;
  height: 150px;
}

.ant-form-item-control {
  text-align: left;
}

.ant-select-selection__rendered {
  line-height: 25px;
}

.ant-select-selection.ant-select-selection--multiple {
  padding: 5px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  line-height: 40px;
  align-items: center;
}
.ant-checkbox-group-item {
  width: 100px;
}
