.contact-form {
  max-width: 300px;
  margin-top: 10px;
}
.contact-form-forgot {
  float: right;
}
.contact-button {
  width: 100%;
  margin: 5px 0px;
}
.side-form-contact {
  box-shadow: hsla(200, 90%, 16%, 0.35) 0px 1px 6px 0px;
  margin: 0px 10px;
  padding: 10px;
}
